.images{
    display: inline-block;
}
.image{
    width: 380px;
    padding-left: 100px;
    padding-top: 10%;
}
#game-over{
    font-size: 32px;
    font-weight: bolder;
    color: red;
    text-align: center;
}
#round-over{
    text-align: center;
    color: blue;
    font-size: 20px;
}
#play-again{
    border-radius: 10px;
    width: 70px;
    height: auto;
    background-color: rgb(152, 62, 182);
    color: rgb(255, 0, 51);
}